html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.container {
    background: rgb(170, 57, 57);
    margin: auto;
    padding: 16px;
    width: 1000px;
}

.content {
    background: rgb(38, 132, 132);
    float: left;
    padding: 8px;
    width: 700px;
}

.sidebar {
    background: rgb(122, 159, 53);
    float: right;
    padding: 8px;
    width: 268px;
}
